/**Fonts**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


#header{
    background-color: #FEE696;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    border-bottom: 0.05rem;
    border-style: solid;
    border-color: #707070;
    color: #707070;
    box-shadow: 0.5rem;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.navbar-brand{
    padding: 0rem;
    margin: 0rem;
    position: fixed;
}

#title{
    font-weight: 700;
    position: relative;
    padding-left: 8rem;
    padding-top: 1rem;
}

#buttons{
    height: 2em;
    width: 7em;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border: 0.05em;
    border-style: solid;
    border-color: #707070;
    font-size: 15px;
}

.nav{
    padding-top: 0.5rem;
    color: #707070;
}

.buttons.btn.btn-outline-secondary.bg-white.text-secondary.nav-item{
    padding-top: 0.5rem;
}

ul{
    list-style-type: none;
}

#footer{
    background: rgba(254, 230, 150, 0.3);
}

#button4{
    background: #FEE696;
    border: 0.05em;
    border-style: solid;
    border-color: #707070;
    border-radius: 1em;
    font-size: 15px;
    margin-left: 10rem;
}

#small{
    display: none;
}

#logosmall{
    display: none;
}

#navbar-brand{
    margin-right:2rem;
}

#header.sticky-top.shadow.p-4.mb-4{
    display: none;
}

#footer.navbar.fixed-bottom.p-3{
    display: none;
}

#hide{
    display: none;
}

#order{
    background-color: #FEE696;
    border-width: 8px;
    border-style: solid;
    border-color: #F6EFD6;
    border-radius: 1em;
    margin-left: 15rem;
    margin-bottom: 2rem;
}

#icecream{
    background-color: white;
    border-radius: 1em;
    margin-left: 0.5rem;
    height: 125px;
    width: 125px;
}

#text{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #707070;
}

#summarylarge{
    background-color: #FEE696;
    border-width: 8px;
    border-style: solid;
    border-color: #F6EFD6;
    border-radius: 1em;
    margin-bottom: 2rem;
    margin-right: 15rem;
    padding: 0.25rem;
}

#summarysmall{
    display: none;
}

#summarybackgroundlarge{
    background-color: white;
    border-radius: 1em;
    padding: 1rem;
}

#summarybackgroundsmall{
    display: none;
}

#newul{
    padding: 0rem;
    margin: 0.1rem;
}

#eachorder{
    padding-top: 1.5rem;
}

#eachorder1{
    padding-top: 1.5rem;
    border-top: 2px solid #707070;
}

#flavour{
    padding: 2rem;
}

#price{
    padding:3.2rem;
}

#amount{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
}

ul:first-child {
    margin-top: 1rem;
}




@media screen and (max-width: 1550px){

    #order{
        margin-left: 13rem;
    }

    #summarylarge{
        margin-right: 13rem;
    }

}

@media screen and (max-width: 1350px){

    #order{
        margin-left: 11rem;
    }

    #summarylarge{
        margin-right: 11rem;
    }

}

@media screen and (max-width: 1150px){

    #order{
        margin-left: 9rem;
    }

    #summarylarge{
        margin-right: 9rem;
    }

}

@media screen and (max-width: 1025px) {

#summarylarge{
    display: none;
}

#summarysmall{
    display: inherit;
    background-color: #FEE696;
    border-width: 8px;
    border-style: solid;
    border-color: #F6EFD6;
    border-radius: 1em;
    margin-bottom: 2rem;
    padding: 0.25rem;
}

#summarybackgroundlarge{
    display: none;
}

#summarybackgroundsmall{
    display: inherit;
    background-color: white;
    border-radius: 1em;
    padding: 1rem;
}

#order{
    margin-left: 0rem;
    margin-right: 0rem;
    
}

#text > ul {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#icecream{
    background-color: white;
    border-radius: 1em;
    margin-left: 0.5rem;
    height: 65px;
    width: 65px;
}

}

@media screen and (max-width: 994px) {

    #titlesmall{
        display: inherit;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: #707070;
        background-color: white; 
        margin-bottom: 1rem;
    }

    #hide{
        display: inherit;
    }

    #logolarge{
        display: none;
    }

    #large{
        display: none;
    }

    #header.sticky-top.shadow.p-4.mb-5{
        display: none;
    }

    #footer.navbar.fixed-bottom.p-4{
        display: none;
    }

    #small{
        display: inherit;
    }

    #logosmall{
        display: inherit;
        padding-bottom: 1rem;
    }

    #header.sticky-top.shadow.p-4.mb-4{
        display: inherit;
    }

    #footer.navbar.fixed-bottom.p-3{
        display: inherit;
    }

    #button4{
        margin-left: 0rem;
    }

    #summarysmall{
        font-size: 0.75rem;
    }

    #order{
        margin-bottom: 2rem;
        font-size: 0.75rem;
    }

}


@media screen and (max-width: 500px) {

    #button4{
        height: 3em;
        width: 15em;
        font-size: 0.5em;
    }

    #buttons{
        height: 3em;
        width: 10em;
        font-size: 0.5em;
    }

}

@media screen and (max-width: 400px) {

    #button4{
        height: 3em;
        width: 15em;
        font-size: 0.5em;
    }

    #buttons{
        height: 3em;
        width: 10em;
        font-size: 0.5em;
    }

    #summarysmall{
        font-size: 0.5rem;
    }

}

@media screen and (max-width: 360px) {

    #button4{
        height: 5em;
        width: 20em;
        font-size: 0.3em;
    }

    #buttons{
        height: 5em;
        width: 15em;
        font-size: 0.3em;
    }

}

@media screen and (max-width: 300px) {

    #button4{
        height: 10em;
        width: 20em;
        font-size: 0.2em;
    }

    #buttons{
        height: 10em;
        width: 15em;
        font-size: 0.2em;
    }

}


